@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

.jumbo{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 72px;

}

.sub-jumbo{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;    
}

.button-explore{
    background-color: white;
}

.button-explore:hover{
    background-color: red;
}

.ctn a{
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 48px;      
}



